@model HomeHelpCallsWebSite.ViewModels.DetailsViewTable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> קריאה מספר - @Html.DisplayFor(model => model.calls.doc_nbr) </h2>

<p>
    <div class="btn-group-lg" role="group">
        <a class="btn btn-success" href="@Url.Action("Index", "LineParts",  new { id = Model.calls.doc_nbr })" title="הוספת פריטים"><span class=" glyphicon glyphicon-wrench"></span> טיפול </a>
        <a class="btn btn-primary" href="@Url.Action("Edit", "OpenCalls",  new { id = Model.calls.doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה </a>
        <a class="btn btn-info" href="@Url.Action("ChangeStatus", "OpenCalls",  new { id = Model.calls.doc_nbr })" title="שינוי סטטוס"><span class=" glyphicon glyphicon-edit"></span> שינוי סטטוס </a>
    </div>
</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.calls.LINE_EVNT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.LINE_EVNT_DATE)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.RQSTD_SHIP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.RQSTD_SHIP_DATE)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.STRM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.STRM_NAME)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.CALL_DSCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.CALL_DSCR)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.APT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.APT_NAME)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.DSTN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.DSTN_NAME)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.CELL_PHONE)
        </dt>

        <dd>
            <a href="tel:@Html.DisplayFor(model => model.calls.CELL_PHONE)">@Html.DisplayFor(model => model.calls.CELL_PHONE)</a>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.EMAIL)
        </dt>

        <dd>
            <a href="mailto:@Html.DisplayFor(model => model.calls.EMAIL)">@Html.DisplayFor(model => model.calls.EMAIL)</a>
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.calls.CALL_STAT_FULL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calls.CALL_STAT_FULL)
        </dd>
        <br />
    </dl>

    <div id="dstcCellsList">
        @Html.Partial("dstn_prsn")
    </div>
      
</div>




