@model HomeHelpCallsWebSite.Models.CallsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>קריאה מספר - @Html.DisplayFor(model => model.doc_nbr) </h2>

<p>
    <div class="btn-group" role="group">
        <a class="btn btn-success" data-toggle="modal" data-target=".closemodal" title="סיום טיפול וסגירה"><span class="glyphicon glyphicon-check"></span> סגירה </a>
        <a class="btn btn-primary" href="@Url.Action("Edit", "OpenCalls",  new { id = Model.doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה </a>
        <a class="btn btn-info" href="@Url.Action("ChangeStatus", "OpenCalls",  new { id = Model.doc_nbr })" title="שינוי סטטוס"><span class=" glyphicon glyphicon-edit"></span> שינוי סטטוס </a>
    </div>

</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LINE_EVNT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINE_EVNT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RQSTD_SHIP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RQSTD_SHIP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STRM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STRM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALL_DSCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALL_DSCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELL_PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELL_PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALL_STAT_FULL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALL_STAT_FULL)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("טיפול", "Edit", new { id = Model.DOC_NBR }) |*@
    @*@Html.ActionLink("", "Index")|*@

  
</p>


