@model  HomeHelpCallsWebSite.Models.CallsViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3>העברה</h3>*@

<h3>קריאה מספר - @Html.DisplayFor(model => Model.doc_nbr) </h3>
<h3> @Html.DisplayFor(model => Model.CALL_DSCR) </h3>
@*<h5>  @Html.DisplayFor(model => Model.CALL_STAT_FULL) </h5>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @*<h4>VUMM_HH_OPEN_CALLS</h4>*@
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group input-group-lg">
        @Html.LabelFor(model => model.STRM_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.STRM_CODE, Model.StrmList, htmlAttributes: new { @class = "btn btn-default btn-lg dropdown-toggle" })

            @Html.ValidationMessageFor(model => model.STRM_NAME, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group input-group-lg">
        @Html.LabelFor(model => model.APT_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.APT_NAME, new { htmlAttributes = new { @value = Model.DSTN_NAME, @class = "form-control form-control-lg", @disabled = "disabled" } })
        </div>
    </div>


    <div class="form-group input-group-lg">
        @Html.LabelFor(model => model.CALL_STAT_FULL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CALL_STAT_FULL, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
            @Html.ValidationMessageFor(model => model.CALL_STAT_FULL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        @Html.HiddenFor(Model => Model.doc_nbr)
        @Html.HiddenFor(Model => Model.line_nbr)
    </div>

    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="העבר" class="btn btn-default" />
        </div>
    </div>*@

    <div class="form-group  input-group-lg container">
        <div class=" col-sm-1 col-sm-push-1">
            <input type="submit" value="העבר" class="btn btn-default btn-lg" />
        </div>
        <div class="col-sm-1 col-sm-push-1">
            <a class="btn btn-default btn-lg" role="button" aria-pressed="true" href="@Url.Action("Index", "OpenCalls",  new { id = Model.doc_nbr })">ביטול </a>
        </div>
    </div>

</div>
}

@*<div>
    @Html.ActionLink("חזרה לרשימה", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
