@model IEnumerable<HomeHelpCallsWebSite.Models.CallsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>קריאות פתוחות</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DOC_NBR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RQSTD_SHIP_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STRM_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CALL_DSCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APT_NAME)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DOC_NBR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RQSTD_SHIP_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STRM_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CALL_DSCR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APT_NAME)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("פרטים", "Details", new { id = item.DOC_NBR })  |
                    @*@Html.ActionLink("טיפול", "Details", new { id = item.DOC_NBR })*@
                    @*@Html.ActionLink("טיפול", "~/Views/LineParts/Details", new { DOC_NBR = item.DOC_NBR })*@
                    @Html.ActionLink("טיפול", "Index", "LineParts", new { id = item.DOC_NBR }, null)
                </td>
            </tr>
        }

    </table>
</div>
