@model IEnumerable<HomeHelpCallsWebSite.Models.CallsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>קריאות בטיפול</h2>

@using (Ajax.BeginForm("CallsTable", "HandelCalls", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CallsTable", LoadingElementId = "progress" }))
{
    <div class="col-lg-offset-10 col-md-offset-8 col-sm-offset-8">
        @*<div class="align-self-end">*@
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="חיפוש" name="searchString">
                <div class="input-group-btn input-group-prepend">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<div class="w-100"></div>

<div>
    @Html.Partial("CallsTable")
</div>


@*responsive*@
@*<div class="table">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CALL_DSCR)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.STRM_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RQSTD_SHIP_DATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.APT_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CALL_STAT_FULL)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a class="btn btn-outline-light" title="פרטים נוספים" href="@Url.Action("Details", "HandelCalls",  new { id = item.doc_nbr })"><span class="glyphicon glyphicon-info-sign"></span></a>
                    @Html.DisplayFor(modelItem => item.doc_nbr)
                    @Html.DisplayFor(modelItem => item.CALL_DSCR)
                    @if (item.HAS_IMAGES.HasValue && item.HAS_IMAGES.Value)
                    {
                        <a class="btn btn-outline-light" title="תמונות" href="@Url.Action("Images", "OpenCalls",  new { id = item.doc_nbr })"><span class="glyphicon glyphicon-camera"></span></a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STRM_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RQSTD_SHIP_DATE)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APT_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CALL_STAT_FULL)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-success" href="@Url.Action("Index", "LineParts",  new { id = item.doc_nbr })" title="הוספת פריטים"><span class=" glyphicon glyphicon-wrench"></span> טיפול </a>
                        <a class="btn btn-primary" href="@Url.Action("Edit", "HandelCalls",  new { id = item.doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה </a>

                    </div>
                </td>
                <td class="tr-for-media"></td>
            </tr>
            }

        </table>
    </div>*@