@model HomeHelpCallsWebSite.Models.LineViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <div>
        @Html.ActionLink("חזרה לרשימת הפריטים", "Index", new { id = Model.doc_nbr })
    </div>
</p>

<div>
    <h4>מחיקה</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.part_code_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.part_code_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qnty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qnty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.line_nbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.line_nbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txt_dscr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txt_dscr)
        </dd>
    </dl>

     @Html.HiddenFor(Model => Model.doc_nbr)
 

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" /> 
        </div>
    }

</div>
