@model HomeHelpCallsWebSite.Models.LineViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Edit</h2>*@

<p>
    <div>
        @Html.ActionLink("חזרה לרשימת הפריטים", "Index", new { id = Model.doc_nbr })
    </div>
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.part_code_name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.part_code_name, new { htmlAttributes = new { @value = Model.part_code_name, @class = "form-control", @disabled = "disabled" } })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.qnty, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.qnty, new { htmlAttributes = new { @value = Model.qnty, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.qnty, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.txt_dscr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.txt_dscr, new { htmlAttributes = new { @value = Model.txt_dscr, @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.txt_dscr, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.line_nbr)
    @Html.HiddenFor(model => model.doc_nbr)
    @Html.HiddenFor(model => model.part_code)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="שמור" class="btn btn-default" />
        </div>
    </div>

</div>
}


@*<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.doc_nbr })
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
