@model IEnumerable<HomeHelpCallsWebSite.Models.LineViewModel>

<h2>קריאה מספר - @Html.DisplayFor(model => Model.First().doc_nbr) </h2>

<table class="table" id="CallLinesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.part_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qnty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt_dscr)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.parent_strm_code)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (item.part_code_name != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.part_code_name)
            </td>
        }
        @if (item.qnty != null && item.unit_name != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.qnty)

                @Html.DisplayFor(modelItem => item.unit_name)

            </td>
        }

        @if (item.txt_dscr != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.txt_dscr)
            </td>
        }
        @*<td>
            @Html.DisplayFor(modelItem => item.parent_strm_code)
        </td>*@
        <td>
            @Html.ActionLink("עריכה", "Edit", new { id = item.LINE_ID })  |

            @Html.ActionLink("מחיקה", "Delete", new { id = item.LINE_ID }, new { onclick = "return confirm('האם אתה בטוח שברצונך למחוק פריט " + item.part_code_name + " ?');" })
            @* @Html.ActionLink("מחיקה", "Delete", new { id = item.LINE_ID }, new { onclick = "return confirm('האם אתה בטוח שברצונך למחוק פריט " + item.part_code_name + " ?');" })*@

        </td>
    </tr>
    }
    <p>
        @Html.ActionLink("הוספת פריט", "Create", new { id = Model.First().doc_nbr }) |
        @Html.ActionLink("הוספת שעות עבודה", "AddWork", new { id = Model.First().doc_nbr }) |
        @*@Html.ActionLink("סיום", "Index", "OpenCalls", null)*@
        @Html.ActionLink("סיום", "Index", "OpenCalls", null, null)


    </p>

</table>
