@model IEnumerable<HomeHelpCallsWebSite.Models.LineViewModel>

@{
    ViewBag.Title = "שורות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3>טיפול</h3>*@
<h3 style="color:red"><b> טיפול בקריאה - @Html.DisplayFor(model => Model.First().doc_nbr) </b> </h3>

@foreach (var item in Model)
{
    if (item.ord == 1)
    {
        <h3> @Html.DisplayFor(model => item.part_name)  @Html.DisplayFor(model => item.txt_dscr)  </h3>
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-5 col-lg-4" role="rowgroup">
            <div class="btn-group-lg" role="group">
                @*<a class="btn btn-primary" href="@Url.Action("Create", "LineParts",  new { id = Model.First().doc_nbr })" title="הוספת פריטים"><span class=" glyphicon glyphicon-plus"></span> פריטים </a>
        <a class="btn btn-primary" href="@Url.Action("AddWork", "LineParts",  new { id = Model.First().doc_nbr })" title=""><span class=" glyphicon glyphicon-user"></span>שעות עבודה </a>*@
                <button class="btn btn-primary" data-toggle="collapse" data-target="#addPartsItem"><span class=" glyphicon glyphicon-plus"></span> פריטים</button>
                <button class="btn btn-primary" data-toggle="collapse" data-target="#addWorkPartsItem"><span class=" glyphicon glyphicon-user"></span> שעות עבודה</button>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-3 col-sm-7 col-lg-5 col-lg-ofsset-3" role="rowgroup">
            <div class="btn-group-lg" role="group">
                <a class="btn btn-success" data-toggle="modal" data-target=".closemodal" title="סיום טיפול וסגירה"><span class="glyphicon glyphicon-check"></span> סגירה </a>
                <a class="btn btn-primary" href="@Url.Action("Edit", "OpenCalls",  new { id = Model.First().doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה </a>
                <a class="btn btn-info" href="@Url.Action("ChangeStatus", "OpenCalls",  new { id = Model.First().doc_nbr })" title="שינוי סטטוס"><span class="glyphicon glyphicon-edit"></span> שינוי סטטוס </a>
                @*@Html.ActionLink("סגירה", "Close", "OpenCalls", new { id = Model.First().doc_nbr, stat = 300 }, new { @class = "btn glyphicon glyphicon-check btn-success", title = "סיום טיפול וסגירה" })
                    @Html.ActionLink("העברה", "Edit", "OpenCalls", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary glyphicon glyphicon-share", title = "העברה למחסן אחר" })
                    @Html.ActionLink("שינוי סטטוס", "CangeStatus", "OpenCalls", new { id = Model.First().doc_nbr }, new { @class = "btn btn-info glyphicon glyphicon-edit", title = "שינוי סטטוס לטיפול עתידי" })*@
            </div>
        </div>
    </div>
</div>
<br />


<table class="table" id="CallLinesTable" x-accordion-table="">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.part_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qnty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt_dscr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.private_bill)
        </th>
    </tr>

    <tr class="collapse" id="addPartsItem">
            @Html.Partial("addLine", new HomeHelpCallsWebSite.Models.LineViewModel
                {
                    doc_nbr = Model.First().doc_nbr,
                    line_nbr = 0,
                    qnty = 1,
                    ord = 0,
                    ro = false
                })
    </tr>
    <tr id="addWorkPartsItem" class="collapse">
        @Html.Partial("addWorkLine",new HomeHelpCallsWebSite.Models.LineViewModel
           {
               doc_nbr = Model.First().doc_nbr,
               line_nbr = 0,
               qnty = 1,
               WParts = Model.First().WParts,
               ord = 0,
               ro = false
           })
    </tr>
    @foreach (var item in Model)
    {
        if (item.ord != 1)
        {

            <tr>
                @if (item.part_code_name != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.part_code_name)
                    </td>
                }
                @if (item.qnty != null && item.unit_name != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.qnty)

                        @Html.DisplayFor(modelItem => item.unit_name)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.txt_dscr)
                </td>
                <td>
                    @if (item.private_bill)
                    {
                        <span class="glyphicon glyphicon-ok"></span>
                    }
                </td>
                @if (item.ro == false)
                {
                    <td>
                        @*<a class="btn btn-default btn-lg" href="@Url.Action("Edit", "LineParts", new { id = item.LINE_ID })" title="עריכה"><span class=" glyphicon glyphicon-pencil"></span> עריכה</a>*@
                        <a class="btn btn-default btn-lg" href="@Url.Action("addLine", "LineParts", new { id = item.LINE_ID })" title="עריכה"><span class=" glyphicon glyphicon-pencil"></span> עריכה</a>

                        @Html.ActionLink(" ", "Delete", new { id = item.LINE_ID }, new { @onclick = "return confirm('האם אתה בטוח שברצונך למחוק פריט " + item.part_code_name + " ?');", @class = "glyphicon glyphicon-remove", @style = "color:red" })

                    </td>
                }
                <td class="tr-for-media"></td>
            </tr>
        }
    }

</table>
</br>

<div class="modal fade closemodal">
    <form class="form-inline" method="post" action="@Url.Action("Close", "OpenCalls")">
        @Html.AntiForgeryToken()
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close"><span>&times;</span></button>
                    <div class="modal-title">
                        <h3><b>סגירת קריאה מספר - @Html.DisplayFor(model => Model.First().doc_nbr)</b> </h3>
                    </div>

                </div>
                <div class="modal-body">
                    <p>
                        רגע, האם יש צורך בטיפול נוסף?
                        <a class="btn btn-link btn-lg" href="@Url.Action("Edit", "OpenCalls",  new { id = Model.First().doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה</a>
                    </p>
                    <br />
                    <p>
                        <div class="form-group">
                            @Html.LabelFor(model => model.First().stat_rmrk, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.First().stat_rmrk, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.First().stat_rmrk, "", new { @class = "text-danger" })
                                @Html.HiddenFor(Model => Model.First().doc_nbr)
                                @Html.HiddenFor(Model => Model.First().line_nbr)
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg glyphicon glyphicon-remove" data-dismiss="modal"> ביטול</button>
                    <button class="btn btn-success btn-lg glyphicon glyphicon-ok" type="submit"> סגור</button>
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
   
    $("#partsAddButton").on("click", function () {
        var x = document.getElementById('#addPartsItem1');
            if (x.style.display === 'none') {
                x.style.display = 'show';
            } else {
                x.style.display = 'none';
            }
    });


    $("#workPartsAddButton").click(function () {
        var x = document.getElementById('#addWorkPartsItem');
        if (x.style.display === 'none') {
            x.style.display = 'show';
        } else {
            x.style.display = 'none';
        }
    });

</script>
}








@*<div>
        @Html.HiddenFor(Model => Model.First().stat_rmrk);
    </div>*@
@*<p>
        @Html.ActionLink("חזרה לרשימת הקריאות", "Index", "OpenCalls", null, null)
    </p>*@
@*<p>

                <div class="btn-group" role="group">
                    <a class="btn btn-primary" href="@Url.Action("Create", "LineParts",  new { id = Model.First().doc_nbr })" title="הוספת פריטים"><span class=" glyphicon glyphicon-plus"></span> פריטים </a>
                    <a class="btn btn-primary" href="@Url.Action("AddWork", "LineParts",  new { id = Model.First().doc_nbr })" title=""><span class=" glyphicon glyphicon-user"></span>שעות עבודה </a>


                        @Html.ActionLink("הוספת פריט", "Create", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("הוספת שעות עבודה", "AddWork", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary" })
    </div>
    <br />

            </p>*@








@*<div class="modal fade holdmodal">
        <form class="form-inline" method="post" action="@Url.Action("StatChange", "OpenCalls")">
            @Html.AntiForgeryToken()

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close"><span>&times;</span></button>
                        <div class="modal-title"><h3>שינוי סטטוס קריאה מספר - @Html.DisplayFor(model => Model.First().call.doc_nbr)</h3></div>
                    </div>
                    <div class="modal-body">
                        <span>
                            <div class="form-group">
                                @Html.LabelFor(model => model.First().call.stat_rmrk, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.First().call.stat_rmrk, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.First().call.stat_rmrk, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.First().call.status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.First().call.status, Model.First().call.StatusList, htmlAttributes: new { @class = "btn btn-default dropdown-toggle" })

                                    @Html.ValidationMessageFor(model => model.First().call.status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </span>
                    </div>
                    @Html.HiddenFor(Model => Model.First().doc_nbr)
                    @Html.HiddenFor(Model => Model.First().line_nbr)


                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal"> ביטול</button>
                        <button class="btn btn-success" type="submit">בצע</button>
                    </div>
                </div>
            </div>
        </form>
    </div>*@
