@model IEnumerable<HomeHelpCallsWebSite.Models.LineViewModel>

@{
    ViewBag.Title = "שורות";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h3>טיפול</h3>*@
<h4>קריאה מספר - @Html.DisplayFor(model => Model.First().doc_nbr) </h4>

<h4> @Html.DisplayFor(model => Model.First().part_name)  @Html.DisplayFor(model => Model.First().txt_dscr)  </h4>


<div class="btn-group" role="group">
    <a class="btn btn-success" data-toggle="modal" data-target=".closemodal" title="סיום טיפול וסגירה"><span class="glyphicon glyphicon-check"></span> סגירה </a>
    <a class="btn btn-primary" href="@Url.Action("Edit", "OpenCalls",  new { id = Model.First().doc_nbr })" title="העברה למחסן אחר"><span class=" glyphicon glyphicon-share"></span> העברה </a>
    <a class="btn btn-info" href="@Url.Action("ChangeStatus", "OpenCalls",  new { id = Model.First().doc_nbr })" title="שינוי סטטוס"><span class=" glyphicon glyphicon-edit"></span> שינוי סטטוס </a>

    @*@Html.ActionLink("סגירה", "Close", "OpenCalls", new { id = Model.First().doc_nbr, stat = 300 }, new { @class = "btn glyphicon glyphicon-check btn-success", title = "סיום טיפול וסגירה" })
    @Html.ActionLink("העברה", "Edit", "OpenCalls", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary glyphicon glyphicon-share", title = "העברה למחסן אחר" })
    @Html.ActionLink("שינוי סטטוס", "CangeStatus", "OpenCalls", new { id = Model.First().doc_nbr }, new { @class = "btn btn-info glyphicon glyphicon-edit", title = "שינוי סטטוס לטיפול עתידי" })*@
</div>

<table class="table" id="CallLinesTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.part_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qnty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txt_dscr)
        </th>
        @*<th>
           @Html.DisplayNameFor(model => model.parent_strm_code)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Skip(1))
    {
    <tr>
        @if (item.part_code_name != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.part_code_name)
            </td>
        }
        @if (item.qnty != null && item.unit_name != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.qnty)

                @Html.DisplayFor(modelItem => item.unit_name)

            </td>
        }

        @if (item.txt_dscr != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.txt_dscr)
            </td>
        }
        @*<td>
            @Html.DisplayFor(modelItem => item.parent_strm_code)
        </td>*@

            <td>
                           
                <a class="btn btn-default" href="@Url.Action("Edit", "LineParts",  new { id = item.line_nbr })" title="עריכה"><span class=" glyphicon glyphicon-pencil"></span> עריכה </a>
                <a class="btn float-right right" style="color:red" href="@Url.Action("Delete", "LineParts",  new { id = item.line_nbr })" title=""><span class=" glyphicon glyphicon-remove"></span> </a>
               
                @*@Html.ActionLink("מחיקה", "Delete", new { id = item.LINE_ID }, new { onclick = "return confirm('האם אתה בטוח שברצונך למחוק פריט " + item.part_code_name + " ?');" })*@
                @* @Html.ActionLink("מחיקה", "Delete", new { id = item.LINE_ID }, new { onclick = "return confirm('האם אתה בטוח שברצונך למחוק פריט " + item.part_code_name + " ?');" })*@

            </td>
        <td class="tr-for-media"></td>
    </tr>
    }


    @*<div>
            @Html.HiddenFor(Model => Model.First().stat_rmrk);
        </div>*@
    @*<p>
            @Html.ActionLink("חזרה לרשימת הקריאות", "Index", "OpenCalls", null, null)
        </p>*@
    <p>

        <div class="btn-group" role="group">
            <a class="btn btn-primary" href="@Url.Action("Create", "LineParts",  new { id = Model.First().doc_nbr })" title="הוספת פריטים"><span class=" glyphicon glyphicon-plus"></span> פריטים </a>
            <a class="btn btn-primary" href="@Url.Action("AddWork", "LineParts",  new { id = Model.First().doc_nbr })" title=""><span class=" glyphicon glyphicon-user"></span>שעות עבודה </a>

            @*
            @Html.ActionLink("הוספת פריט", "Create", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary" })
            @Html.ActionLink("הוספת שעות עבודה", "AddWork", new { id = Model.First().doc_nbr }, new { @class = "btn btn-primary" })*@
        </div>
        <br />

    </p>
</table>


<div class="modal fade closemodal">
    <form class="form-inline" method="post" action="@Url.Action("Close", "OpenCalls")">
        @Html.AntiForgeryToken()

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close"><span>&times;</span></button>
                    <div class="modal-title"><h3> סגירת קריאה מספר - @Html.DisplayFor(model => Model.First().doc_nbr)</h3></div>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="form-group">
                            @Html.LabelFor(model => model.First().stat_rmrk, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.First().stat_rmrk, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.First().stat_rmrk, "", new { @class = "text-danger" })
                                @Html.HiddenFor(Model => Model.First().doc_nbr)
                                @Html.HiddenFor(Model => Model.First().line_nbr)
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default glyphicon glyphicon-remove" data-dismiss="modal"> ביטול</button>
                    <button class="btn btn-primary glyphicon glyphicon-ok" type="submit"> סגור</button>
                </div>
            </div>
        </div>
    </form>
</div>



@*<div class="modal fade holdmodal">
        <form class="form-inline" method="post" action="@Url.Action("StatChange", "OpenCalls")">
            @Html.AntiForgeryToken()

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close"><span>&times;</span></button>
                        <div class="modal-title"><h3>שינוי סטטוס קריאה מספר - @Html.DisplayFor(model => Model.First().call.doc_nbr)</h3></div>
                    </div>
                    <div class="modal-body">
                        <span>
                            <div class="form-group">
                                @Html.LabelFor(model => model.First().call.stat_rmrk, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.First().call.stat_rmrk, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.First().call.stat_rmrk, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                                @Html.LabelFor(model => model.First().call.status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.First().call.status, Model.First().call.StatusList, htmlAttributes: new { @class = "btn btn-default dropdown-toggle" })

                                    @Html.ValidationMessageFor(model => model.First().call.status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </span>
                    </div>
                    @Html.HiddenFor(Model => Model.First().doc_nbr)
                    @Html.HiddenFor(Model => Model.First().line_nbr)


                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal"> ביטול</button>
                        <button class="btn btn-success" type="submit">בצע</button>
                    </div>
                </div>
            </div>
        </form>
    </div>*@
