@model HomeHelpCallsWebSite.Models.LineViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MM_HH_LGSTC_FRCST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PART_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PART_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QNTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QNTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINE_NBR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINE_NBR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOC_NBR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOC_NBR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PART_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PART_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RMRK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RMRK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
