@model HomeHelpCallsWebSite.Models.LineViewModel

@using (Ajax.BeginForm("addLine", "LineParts", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "partslinestablewh", OnSuccess = "OnSuccess" }, new { id = "addLineFormid" }))
{
        @Html.AntiForgeryToken()

        <td>
            <div class="form-group">
                @*<div class="ui-widget">*@
                    <div>
                        @Html.EditorFor(model => model.part_code_name, new { htmlAttributes = new { @class = "form-control", id = "autocomplete" + Model.line_nbr } })
                        @Html.ValidationMessageFor(model => model.part_code_name, "", new { @class = "text-danger" })
                    </div>
                @*</div>*@
            </div>
        </td>
        <div class="form-group">
            <td>
                <div>
                    @Html.EditorFor(model => model.qnty, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.qnty, "", new { @class = "text-danger" })
                </div>
            </td>
        </div>
        <td>
            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.txt_dscr, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.txt_dscr, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
        <td class="form-group">
            @Html.EditorFor(model => model.private_bill, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-save"></i>
            </button>
            <button type="reset" class="btn btn-default">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </td>
        <div>
            @Html.HiddenFor(Model => Model.doc_nbr)
            @Html.HiddenFor(Model => Model.line_nbr)
            @Html.HiddenFor(Model => Model.parent_strm_code)
            @Html.HiddenFor(Model => Model.part_code)
        </div>
}

<script type="text/javascript">
        var doc = document.getElementById("doc_nbr").value;
        var line = document.getElementById("line_nbr").value;
        var id = "#autocomplete" + line;
        $(id).autocomplete({
            delay: 500,
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "/LineParts/FindPartJson",
                    dataType: "json",
                    data: {
                        'id': doc,
                        'term': request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item,
                                value: item
                            }
                        }))
                    }
                })
            },
        });
    </script>

<script type="text/javascript">

    function OnSuccess(response) {       
        document.getElementById("addLineFormid").reset(); 
    }

</script>


    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")

    }
