@model HomeHelpCallsWebSite.Models.LineViewModel


@*@using (Html.BeginForm("AddWork", "LineParts", new AjaxOptions { HttpMethod = "POST" }))*@

@using (Ajax.BeginForm("AddWork", "LineParts", new AjaxOptions { HttpMethod = "POST" }))
{
    @Html.AntiForgeryToken()

    <td>
        <div class="form-group">
            <div class="ui-widget">
                <div>
                    @Html.DropDownListFor(model => model.part_code, Model.WParts, htmlAttributes: new { @class = "btn btn-default btn-lg dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.part_code_name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </td>
    <div class="form-group ">
        @*col-md-3">*@
        <td>
            <div class="form-group">
                @*@Html.LabelFor(model => model.qnty, "שעות עבודה", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.qnty, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.qnty, new SelectList(
        new List<Object>{
                            new { value = 0.25 , text = "0:15"  },
                            new { value = 0.5 , text = "0:30"  },
                            new { value = 0.75 , text = "0:45"},
                            new { value = 1.0 , text = "1:00" },
                            new { value = 1.5 , text = "1:30"},
                            new { value = 2.0 , text = "2:00"  },
                            new { value = 2.5 , text = "2:30" },
                            new { value = 3.0 , text = "3:00"},
                            new { value = 3.5 , text = "3:30"  },
                            new { value = 4.0 , text = "4:00" },
                            new { value = 4.5 , text = "4:30" },
                            new { value = 5.0 , text = "5:00" },
                            new { value = 5.5 , text = "5:30" },
                            new { value = 6.0 , text = "6:00" },
                            new { value = 6.5 , text = "6:30" },
                            new { value = 7.0 , text = "7:00" },
                            new { value = 7.5 , text = "7:30" },
                            new { value = 8.0 , text = "8:00" },
                            new { value = 8.5 , text = "8:30" },
                            new { value = 9.0 , text = "9:00" },
               },
             "value",
             "text",
              2), htmlAttributes: new { @class = "btn btn-default btn-lg dropdown-toggle" })
                    @Html.ValidationMessageFor(model => model.qnty, "", new { @class = "text-danger" })
                </div>
            </div>
        </td>
    </div>

    <td>
        <div class="form-group">
            @Html.EditorFor(model => model.txt_dscr, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.txt_dscr, "", new { @class = "text-danger" })
        </div>

    <td class="form-group">
        @*@Html.CheckBoxFor(model => model.private_bill, new { htmlAttributes = new { @class = "form-control" } })*@
        @Html.EditorFor(model => model.private_bill, new { htmlAttributes = new { @class = "form-control" } })
    </td>

    </td>

    <td>
        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-save"></i>
        </button>

        <button type="reset" class="btn btn-default">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
    </td>

    <div>
        @Html.HiddenFor(Model => Model.doc_nbr)
        @Html.HiddenFor(Model => Model.line_nbr)
        @Html.HiddenFor(Model => Model.parent_strm_code)
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
